In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'shop1': range(8), 'shop2': range(10, 50, 5), 'location': ['BER'] * 4 + ['HAM'] * 4}, index=list("ABCDEFGH"))
print(df)

   shop1  shop2 location
A      0     10      BER
B      1     15      BER
C      2     20      BER
D      3     25      BER
E      4     30      HAM
F      5     35      HAM
G      6     40      HAM
H      7     45      HAM

In [6]:
# 2. Now simplify the following pieces of code
#    so that the result is equivalent
#    - run the code
#    - inspect the result
#    - replace it by a pandas function (one line should be enough)

# 2.1
for i, row in df.iterrows():
    if row['location'] == 'BER':
        df.loc[i, 'location'] = 'Berlin'
    if row['location'] == 'HAM':
        df.loc[i, 'location'] = 'Hamburg'
print(df)

# or specify with .replace (inplace=True)
df.rename({'BER': 'Berlin', 'HAM': 'Hamburg'})

   shop1  shop2 location
A      0     10   Berlin
B      1     15   Berlin
C      2     20   Berlin
D      3     25   Berlin
E      4     30  Hamburg
F      5     35  Hamburg
G      6     40  Hamburg
H      7     45  Hamburg

   shop1  shop2 location
A      0     10   Berlin
B      1     15   Berlin
C      2     20   Berlin
D      3     25   Berlin
E      4     30  Hamburg
F      5     35  Hamburg
G      6     40  Hamburg
H      7     45  Hamburg

In [10]:
# 2.2
result = []
for i, row in df.iterrows():
    if row['shop2'] > 20:
        result.append(i)
df.loc[result]

df.loc[df.shop2 > 20]

   shop1  shop2 location
D      3     25   Berlin
E      4     30  Hamburg
F      5     35  Hamburg
G      6     40  Hamburg
H      7     45  Hamburg

In [24]:
# 2.3
# result = []
# for i, row in df.iterrows():
#     total =  row['shop1'] + row['shop2']
#     result.append(total)
# result

result = df.sum(axis=1).values.tolist()
result

[10, 16, 22, 28, 34, 40, 46, 52]

In [20]:
# 2.4
# subsets = {}
# for i, row in df.iterrows():
#     if row['location'] not in subsets:
#         subsets[row['location']] = []
#     subsets[row['location']].append(row['shop1'])
# for loc in subsets:
#     avg = sum(subsets[loc]) / len(subsets[loc])
#     print(loc, avg)
df.groupby(['location'])['shop1'].mean()

location
Berlin     1.5
Hamburg    5.5
Name: shop1, dtype: float64